
/* Ajusta a margem dos botões */
lightning-button {
    margin: 10 10px 0 0; /* margem direita de 10px */
    margin-top: auto;
    margin-left: 15px;
    padding-top: 8px;
  }
  
  /* Ajusta a margem dos campos de digitação */
  lightning-input {
    margin-bottom: 10px; /* margem inferior de 10px */
    background-color: rgb(176, 196, 223);

  }

  /*slds-input{
    margin: 10 10px 0 0;
  }
  */